<h1>MHHL</h1>
<p>Find me in app/views/main/home.html.erb</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum id nesciunt in voluptas quod iure velit, odit provident reiciendis laudantium tenetur culpa dolores eligendi fugiat temporibus, impedit voluptates modi ullam!</p>

<h2>Joke´s on you</h2>

<a href="http://www.facebook.com" target="_blank">Facebook</a>

<br>

<form action="" method="POST">
	<label for="name">Name</label>
	<input type="text" name="name"><br>
	<label for="password">Password</label>
	<input type="password" name="password"><br>
	<input type="submit" name="submit" value="Login">
</form>